<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - La Ideal Shipping Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta name="description" content="Shipping Solutions Eveywhere" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Services", "Shipping", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contacts", "Home")</li>
                    <li>@Html.ActionLink("Shipping Maintenance", "ShippingMaintenance", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>&nbsp;&nbsp;
    <div class="container">
        @RenderBody()
        <hr />
        <footer class="row" style="color:#dadada;background:#555555;padding:20px 30px">
            <div class="col-md-4 md-margin-bottom-40">
                <div class="headline">
                    <h2 style="color:#e4e4e4">About La Ideal Shipping</h2>
                </div>
                <p>
                    We are a shipping company located in the heart of the city of Margate
                    We've been operating since 2000 servicing the counties of Miami Dade, Broward, and Palm Beach.
                </p>
            </div>
            <div class="col-md-4 md-margin-bottom-40">
                <div class="headline">
                    <h2 style="color:#e4e4e4">Stay Conected</h2>
                </div>
                <p>Subscribe to our mailing list to stay up to date!</p>
            </div>
            <div class="col-md-4 md-margin-bottom-40">
                <div class="headline">
                    <h2 style="color:#e4e4e4">Contact Us</h2>
                </div>
                <p>Contact us @@ laidealinfo@@hotmail.com</p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>&copy; @DateTime.Now.Year - La Ideal ASP.NET Web Site</p>
                </div>
            </div>

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
